{%extends 'base.html'%}

{%block title%}
New Post Form
{%endblock%}

{% block content%}
<h1 class="fw-bold fs-4 d-block mt-3">Add Post for {{user.first_name}} {{user.last_name}}</h1>

<div class="container ps-0 ms-0" >
    <form action="/users/{{user.id}}/posts/new" method="POST" class="row mb-3">
            <label for="post-title" class=" col-form-label col-sm-2"> Title:</label>
            <div class="col-sm-10">
                <input type="text" name="post-title">
            </div>
            <label for="post-content" class="col-form-label col-sm-2"> Content:</label>
            <div class="col-sm-10">
                <input type="textarea" name="post-content">
            </div>
            
            <div class="container"> 

                <div class="d-inline-block">
                    <form action="/users/{{user.id}}">
                        <button type="submit" class="btn btn-info">Cancel</button>
                    </form>
                </div>
                <div class="d-inline-block c">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
    </form>
    
    
</div>


{%endblock%}