{%extends 'base.html'%}

{%block title%}User Edit Page{%endblock%}

{%block content%}
<form action="/users/{{user.id}}/edit" method="POST" class="edit-user">
    <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="Enter a first name" value="{{user.first_name}}">

    <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Enter a last name" value="{{user.last_name}}">
    

    <label for="image_url">Image URL</label>
        <input type="text" name="image_url" placeholder="Provide an image of this user" value="{{user.image_url}}">
    
    <button type="submit" class="btn btn-success">Update User Info</button>

</form>

<form action="/users/{{user.id}}">
    <button type="submit" class="btn btn-info">Go Back</button>
</form>

{%endblock%}